*.iml
.gradle
.kotlin
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
androidApp/src/main/assets/service-account-file.json
iosApp/StudyAssistant/service-account-file.json
iosApp/service-account-file.json
iosApp/GoogleService-Info.plist
iosApp/StudyAssistant/GoogleService-Info.plist
androidApp/google-services.json