*.iml
.gradle
.kotlin
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
androidApp/fdroid/
androidApp/github/
androidApp/google/
androidApp/rustore/
androidApp/mapping.txt
androidApp/src/main/assets/service-account-file.json
iosApp/iosApp/service-account-file.json
iosApp/service-account-file.json
iosApp/GoogleService-Info.plist
iosApp/iosApp/GoogleService-Info.plist
androidApp/google-services.json
androidApp/agconnect-services.json