sdk.dir=sdk_path

storeFile=file_path
storePassword=password_1
keyAlias=upload
keyPassword=password_1

myTrackerKey=tracker_key
tracerAppToken=tracer_app_token
tracerPluginToken=tracer_plugin_token

studyassistant.backend.url=https://api.example.com

studyassistant.ads.tasks.banner.id=banned_id_1
studyassistant.ads.info.banner.id=banned_id_2
studyassistant.ads.ai.rewarded.id=rewarded_id_3
studyassistant.ads.schedule.rewarded.id=rewarded_id_4
studyassistant.ads.ai.schedule.rewarded.id=rewarded_id_5