APPMETRICA_API_KEY = YOUR_APP_METRICA_API_KEY

YandexTasksBannerId = demo-banner-yandex
YandexInfoBannerId = demo-banner-yandex
YandexAiRewardedId = demo-banner-yandex
YandexScheduleRewardedId = demo-banner-yandex
YandexScheduleAiRewardedId = demo-banner-yandex
YandexShareImportBannerId = demo-banner-yandex
YandexSharePreviewBannerId = demo-banner-yandex
YandexAiImporterBannerId = demo-banner-yandex
YandexAnalyticsBannerId = demo-banner-yandex
YandexHomeworkReceiveBannerId = demo-banner-yandex